<div class="row">
	<div class="col-md-6" ng-include="'user/partials/login_signup_verbige.html'"></div>
	<div class="col-md-6">
		<form name="loginForm" ng-submit="login(loginForm.$valid)" novalidate>
			<md-content class="md-no-momentum">
				<h1 class="page-header text-center">Login</h1>
			    <md-input-container class="md-icon-float md-block">
			      	<!-- Use floating label instead of placeholder -->
			      	<label>Email</label>
			      	<md-icon class="gray">email</md-icon>
			      	<input type="email" ng-model="user.email" name="email" required>
			      	<div ng-messages="loginForm.email.$error">
			      	    <div ng-message="required">Email is required</div>
			      	</div>
			    </md-input-container>
			    <md-input-container class="md-icon-float md-block">
			      	<label>Password</label>
			      	<md-icon class="gray">lock</md-icon>
			      	<input type="password" ng-model="user.password" name="password" required>
			      	<div ng-messages="loginForm.password.$error">
			      	    <div ng-message="required">Password is required</div>
			      	</div>
			    </md-input-container>
			    <div layout="row" layout-xs="column" layout-sm="column" layout-align="space-between center">
				    <div flex-gt-sm="80">
					    <md-input-container class="md-block">
					        <md-checkbox name="tos" ng-model="user.tos" required> I'm agreeable... </md-checkbox>
					        <div ng-messages="loginForm.tos.$error" multiple md-auto-hide="false">
					        	<div ng-message="required"> You must accept the terms of service before you can proceed. </div>
					        </div>
					    </md-input-container>
					</div>    
					<div>
						<p><a href="">Forgot?</a></p>
					</div>
				</div>	
			</md-content>
			<div>
				<md-button type="submit" class="md-primary md-raised btn-block">Customer Login</md-button>
				<md-button type="submit" class="md-primary md-raised btn-block">Trader Login</md-button>
			<div>	
		</form>
	</div>
</div>	